<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :label => "Judul" %>
    <%= f.input :author, :label => "Penyusun" %>
    <%= f.input :force, :label => "Tahun Angkatan" %>
    <%= f.input :concentration_id, :collection => Concentration.order(:name), :label_method => :name, :value_method => :id, :label => "Konsentrasi", :include_blank => true %>
    <%= f.input :stock, :label => "Jumlah" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Buat Laporan" if action_name == 'new' %>
    <%= f.button :submit, "Edit Laporan" if action_name == 'edit' %>
  </div>
<% end %>