<div class="page-header">
    <h3>Daftar Laporan <small>Tugas Akhir, Laporan Penelitian</small></h3>
</div>

<table class="table table-bordered responsive datatables">
    <thead>  
        <tr>
            <th>Judul</th>
            <th>Penyusun</th>
            <th>Angkatan</th>
            <th>Konsentrasi</th>
            <th>Jumlah</th>
            <% if user_signed_in? %>
              <th></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
          <tr>
              <td><%= task.title %></td>
              <td><%= task.author %></td>
              <td><%= task.force %></td>
              <td><%= task.concentration.name rescue nil %></td>
              <td><%= task.stock %>&nbsp;Buku</td>
              <% if user_signed_in? %>
                <td><%= link_to 'Tampilkan', task, :class => "btn btn-mini" %>&nbsp;&nbsp;<%= link_to 'Perbaiki', edit_task_path(task), :class => "btn btn-mini" %>&nbsp;&nbsp;<%= link_to 'Hapus', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini" %></td>
              <% end %>
          </tr>
        <% end %>
    </tbody>
</table>
<br />
<%= link_to 'Tambah Laporan', new_task_path, :class => "btn btn-mini" if user_signed_in? %>
