<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Author:</b>
  <%= @task.author %>
</p>

<p>
  <b>Force:</b>
  <%= @task.force %>
</p>

<p>
  <b>Concentration:</b>
  <%= @task.concentration_id %>
</p>

<p>
  <b>Stock:</b>
  <%= @task.stock %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
