<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :judul %>
    <%= f.input :pengarang %>
    <%= f.input :tahun_terbit %>
    <%= f.input :kota_terbit %>
    <%= f.input :location %>
    <%= f.input :jumlah %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
