<div class="page-header">
    <h3>Daftar Buku <small>Koleksi Buku Buku Penunjang</small></h3>
</div>

<table class="table table-bordered responsive datatables">
    <thead> 
        <tr>
            <th>Judul</th>
            <th>Pengarang</th>
            <th>Tahun Terbit</th>
            <th>Kota Terbit</th>
            <th>Jumlah</th>
            <th>Rak Buku</th>
            <% if user_signed_in? %>
              <th></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
          <tr>
              <td><%= book.judul %></td>
              <td><%= book.pengarang %></td>
              <td><%= book.tahun_terbit %></td>
              <td><%= book.kota_terbit %></td>
              <td><%= book.jumlah %></td>
              <td><%= book.location rescue nil %></td>
              <% if user_signed_in? %>
              <td><%= link_to 'Show', book %>&nbsp;<%= link_to 'Edit', edit_book_path(book) %>&nbsp;<%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'Tambah Buku', new_book_path, :class => "btn btn-mini" if user_signed_in? %>
