<p id="notice"><%= notice %></p>

<p>
  <b>Judul:</b>
  <%= @book.judul %>
</p>

<p>
  <b>Pengarang:</b>
  <%= @book.pengarang %>
</p>

<p>
  <b>Tahun terbit:</b>
  <%= @book.tahun_terbit %>
</p>

<p>
  <b>Kota terbit:</b>
  <%= @book.kota_terbit %>
</p>

<p>
  <b>Jumlah:</b>
  <%= @book.jumlah %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
