<%= simple_form_for(@concentration) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Buat Konsentrasi" %>
  </div>
<% end %>
