<div class="page-header">
    <h3>Daftar Konsentrasi</h3>
</div>

<table class="table table-bordered responsive datatables">
    <thead>  
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @concentrations.each do |concentration| %>
          <tr>
              <td><%= concentration.name %></td>
              <td><%= link_to 'Tampilkan', concentration, :class => "btn btn-mini" %>&nbsp;&nbsp;<%= link_to 'Perbaiki', edit_concentration_path(concentration), :class => "btn btn-mini" %>&nbsp;&nbsp;<%= link_to 'Hapus', concentration, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini" %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'Konsentrasi Baru', new_concentration_path, :class => "btn btn-mini" %>
