<div class="page-header">
    <h3>Transaksi Buku</h3>
</div>

<table class="table table-bordered responsive datatables">
    <thead> 
        <tr>
            <th>NIM</th>
            <th>Nama Lengkap</th>
            <th>Kelas</th>
            <th>Jurusan</th>
            <th>Jumlah Peminjaman</th>
            <% if user_signed_in? %>
            <th></th>
            <% end%>
        </tr>
    </thead>
    <tbody>
        <% @members.each do |member| %>
          <tr>
              <td><%= member.nim %></td>
              <td><%= member.nama %></td>
              <td><%= member.kelas %></td>
              <td><%= member.concentration.name %></td>
              <td>0 Buku</td>
              <% if user_signed_in? %>
              <td><%= link_to 'Transaksi Buku', :controller => "transactions", :action => "show", :id => member.id %></td>
              <% end %>
          </tr>
        <% end %>
    </tbody>
</table>
