<div class="page-header">
    <h3>Detail Transaksi Buku</h3>
</div>

<p>
  <b>NIM :</b>
  <%= @member.nim %>
</p>

<p>
  <b>Nama Lengkap :</b>
  <%= @member.user.name %>
</p>

<p>
  <b>Kelas :</b>
  <%= @member.kelas %>
</p>

<p>
  <b>Jurusan :</b>
  <%= @member.concentration.name %>
</p>

<p>
  <b>Masa Berlaku :</b>
  <%= @member.berlaku %>
</p>
<br />
<div class="page-header">
    <h4>Detail Buku Dipinjam</h4>
</div>
<br />
<div class="page-header">
    <h4>Daftar Buku</h4>
</div>
<table class="table table-bordered responsive datatables">
    <thead> 
        <tr>
            <th>Judul</th>
            <th>Pengarang</th>
            <th>Tahun Terbit</th>
            <th>Kota Terbit</th>
            <th>Jumlah</th>
            <th>Rak Buku</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
          <tr>
              <td><%= book.judul %></td>
              <td><%= book.pengarang %></td>
              <td><%= book.tahun_terbit %></td>
              <td><%= book.kota_terbit %></td>
              <td><%= book.jumlah %></td>
              <td><%= book.location rescue nil %></td>
              <td>Pinjam Buku</td>
          </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Kembali', transactions_path %>

