<%= link_to "Sistem Informasi Perpustakaan", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Tugas Akhir', tasks_path %>
    <%#= link_to 'Login', new_user_session_path %>
    </li>
    <li>
    <%= link_to 'Koleksi Buku', books_path %>
    <%#= link_to 'Login', new_user_session_path %>
    </li>
    <li>
    <%= link_to 'Daftar Anggota', members_path %>
    <%#= link_to 'Login', new_user_session_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Tugas Akhir', tasks_path %>
    <%#= link_to 'Login', new_user_session_path %>
    </li>
    <li>
    <%= link_to 'Koleksi Buku', books_path %>
    <%#= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Profile', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Daftar User', users_path %>
      </li>
    <% end %>
    <li>
      <%= link_to 'Keluar', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%#= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
