<%= simple_form_for(@member) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nim %>
    <%= f.input :nama %>
    <%= f.input :kelas %>
    <%= f.input :email %>
    <%= f.input :concentration_id, :collection => Concentration.order(:name), :label_method => :name, :value_method => :id, :label => "Konsentrasi", :include_blank => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
