<div class="page-header">
    <h3>Daftar Anggota <small>Daftar Peminjam Perpustakaan</small></h3>
</div>

<table class="table table-bordered responsive datatables">
    <thead> 
        <tr>
            <th>NIM</th>
            <th>Nama Lengkap</th>
            <th>Kelas</th>
            <th>Jurusan</th>
            <% if user_signed_in? %>
            <th></th>
            <% end%>
        </tr>
    </thead>
    <tbody>
        <% @members.each do |member| %>
          <tr>
              <td><%= member.nim %></td>
              <td><%= member.nama %></td>
              <td><%= member.kelas %></td>
              <td><%= member.concentration.name %></td>
              <% if user_signed_in? %>
              <td><%= link_to 'Tampilkan', member %> <%= link_to 'Perbaiki', edit_member_path(member) %> <%= link_to 'Hapus', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
          </tr>
        <% end %>
    </tbody>
</table>
<br />
<%= link_to 'Anggota Baru', new_member_path if user_signed_in? %>
