<div class="page-header">
    <h3>Detail Member</h3>
</div>

<p>
  <b>NIM :</b>
  <%= @member.nim %>
</p>

<p>
  <b>Nama Lengkap :</b>
  <%= @member.user.name %>
</p>

<p>
  <b>Kelas :</b>
  <%= @member.kelas %>
</p>

<p>
  <b>Jurusan :</b>
  <%= @member.concentration.name %>
</p>

<p>
  <b>Masa Berlaku :</b>
  <%= @member.berlaku %>
</p>


<%= link_to 'Perbaiki', edit_member_path(@member) %> |
<%= link_to 'Kembali', members_path %>
